### Single Inheritance

In [1]:
class Collage:
    pass


class Student(Collage):
    pass

In [2]:
class Collage:
    account_number = 846685
    collage_name = "jecrc"
class Student(Collage):
    pass

st=Student()

In [3]:
st.account_number

846685

In [ ]:
class Collage:
    account_number = 52846
    collage_name = "jecrc"
    def account(self):
       print(f"my acccount number is {self.account_number}")
class Student(Collage):
    student_name = "janvi"

st = Student()

In [5]:
st.account()

my acccount number is 52846

In [6]:
st.student_name

'janvi'

In [13]:
class Grandfather:
    account_number = 3284895
class Father(Grandfather):
    phone_number = 84688789 
class Child(Father):
    pin_number = 35784655

chi = Child()

In [12]:
chi.pin_number

35784655

In [14]:
chi.account_number

3284895

In [15]:
chi.phone_number

84688789

In [17]:
class Grandfather:
    grandfather_name = "govind"
class Uncle(Grandfather):
    uncle_name = "Ramesh"    
class Tau(Grandfather):
    Tau_name = "satyanarayan" 
tau_obj =Tau()
tau_obj.grandfather_name
uncle_obj =Uncle()
uncle_obj.grandfather_name

'govind'

In [18]:
class Grandfather:
    grandfather_name = "govind"
class Uncle:
    uncle_name = "Ramesh"    
class Tau(Grandfather,Uncle):
    pass 
tau_obj=Tau()

In [19]:
tau_obj.grandfather_name

'govind'