## loop in python
* Looping generally means repeating a sequence of actions again and again until a certain condition is met.





| Loop Type         | Description                                            | Example Use Case                                                         |
| ----------------- | ------------------------------------------------------ | ------------------------------------------------------------------------ |
| **For Loop**      | Repeats a block of code a specific number of times.    | Iterating through a list or repeating an action a fixed number of times. |
| **While Loop**    | Repeats as long as a condition remains true.           | Running code until the user gives a certain input.                       |
| **Do-While Loop** | Runs code at least once before checking the condition. | Menu systems or input validation.                                        |
| **For-Each Loop** | Iterates through elements in a collection.             | Reading items in an array or list.                                       |

## For loop 
* A for loop in Python is used to repeat a block of code for each item in a sequence (like a list, range, string, or tuple).

In [1]:
lst = [1,4,5,8,"hello"]
for x in lst:
    print(x)

1
4
5
8
hello

In [2]:
for name in "Jaanvi":
    print(name)

J
a
a
n
v
i

In [3]:
name = "jaanvi"
for latter in name:
    print(latter)

j
a
a
n
v
i

In [ ]:
tpl = (1,5,5,58,8)
for item in tpl:
    print(item)

In [ ]:
student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}   
for items in student:
    print(items)        

# keys()
# values()
# items()

In [ ]:
student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}   
for items in student.values():
    print(items)

In [ ]:
student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}   
for items in student.items():
    print(items)

In [1]:
student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}   
for items in student.keys():
    print(items)

name
roll no.
course

In [2]:
name = "jaanvi"
for x in name:
    print(name)
    print("i am form kota")

jaanvi
i am form kota
jaanvi
i am form kota
jaanvi
i am form kota
jaanvi
i am form kota
jaanvi
i am form kota
jaanvi
i am form kota

## While 
* A while loop in Python is used to repeat a block of code as long as a condition remains true.

In [3]:
count = 1

while (count <= 5):
    print(count)
    count += 1

1
2
3
4
5

In [ ]:
lst = [1,2,3]
for x in lst:
    print(x)
   
    if x<=2:
        print(x)

In [ ]:
lst = [1,2,3]
for x in lst:
    print(x)
    if x==2:
        break

In [ ]:
student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}  
for x in student:
    print(x)
    if x == "roll no.":
        break

In [ ]:
a = 1
while a<=100:
    print(a)
    a+=1

In [ ]:
for x in range(1,21):
    print(x)

In [ ]:
for x in range(2,22,2):
    print(x)

In [ ]:
a = 2
while a<=20:
    print(a)
    a+=2

In [ ]:
for x in range(2,22,2):
    print(x)

In [ ]:
a = 1
while a<=100:
    print(a)
    a+=1

In [ ]:
a = 2
while a<=20:
    print(a)
    a+=2

In [ ]:
lst = [1,2,3,"hello"]
for x in lst:
    print(lst)

### Python functions

A function is a block of code which only runs when it is called.

A function can return dat a a result.

A function heps avoiding code repetitions.

In [ ]:
### craete a function
def function_name():
   ## block of code 
   pass
# def is a keyword
# and function_name is function_name

In [2]:
def janviadd():
    a = 10
    b = 20
    result = a+b
    print("The total result :-",result)

In [3]:
#calling a function
janviadd()

The total result :- 30

In [5]:
 #twotables()
def twotables(a,b):
    while a <= 20:
      print()

In [ ]:
def two_tables():
    x = 2
    while x<=20:
        print(x)
        x+=2
two_tables()

In [6]:
def square(a):
     return a*a
square(a=2)

4

In [ ]:
square(6)

In [ ]:
square(9)

In [7]:
def even_or_odd(n):
  if n % 2 == 0 :
      return "even"
  else:
      return "odd"
print(even_or_odd(5))
print(even_or_odd(10))

odd
even

In [2]:
def sum_two(a,b):
    return(a+b)
sum_two(5,4)

9

In [3]:
def largest(a,b):
    if a > b:
        return a
    else:
        return b
print(largest(10,15))

15

In [4]:
#lambda function 
square = lambda a : a*a
square (a = 4)

16

In [5]:
square (a = 10)

100

In [6]:
even = lambda x : x % 2 == 0
print(even(11))

False

In [10]:
#creating a class
class student : ##### StudentJecrcJaipur
    pass
#class is keyword and student is class name

In [9]:
st_obj = student() ####

TypeError: 'dict' object is not callable

In [12]:
class Student:
    student_name = "Jaanvi Nandwana" ### class variable
    student_class = "3rd year" ### class variablr
    student_branch = "computer science" ### class variable
    student_rollnumber = 18 ### class variable

st_obj = Student()

In [13]:
st_obj.student_branch

'computer science'

In [14]:
st_obj.student_name

'Jaanvi Nandwana'

In [24]:
class collage:
    collage_name = "jecrc jaipur"
    collage_address = "jaipur"
    collage_color = "colour nhi he"
    def jaan(self):
       print("hello hii kese ho kesa lg rha")   
     
coll_obj =collage()

In [25]:
coll_obj.jaan()

hello hii kese ho kesa lg rha

In [32]:
class Collage:
    collage_name = "jecrc jaipur"
    collage_account_number = 3287983
    def account_office(self):
        print("this is my collage account number", self.collage_account_number)
coll_obj =Collage()

In [33]:
coll_obj.account_office()

this is my collage account number 3287983

In [ ]:
class Area:
   def circle(self,r):
    return 3.14*r*r
   def square(self, a):
    return a*a
   def cube(self,a):
    return 6*a*a
Area().circle(2)

16

In [3]:
area_obj = Area()
Area().square(4)

16

In [4]:
area_obj = Area()
Area().cube(3)

54

In [3]:
class Collage:
    pass
obj = Collage()

In [6]:
class Collage:
    Collage_name = "Jecrc"
    Collage_address = "Jaipur"
cl_object = Collage()
print(cl_object.Collage_address)

Jaipur

In [7]:
cl =Collage()

In [8]:
cl.Collage_address

'Jaipur'

In [9]:
cl.Collage_name

'Jecrc'

In [11]:
class Collage:
    def account(self):
        pass
cl = Collage()

In [15]:
class Collage:
    collage_name = "jecrc"
    def account(self):
       print("my account no. is 2935471") 
       print("mere ko nhi pta collage ke account nuber")
cl_account = Collage()

In [16]:
cl_account.account()

my account no. is 2935471
mere ko nhi pta collage ke account nuber

In [17]:
cl_account.collage_name

'jecrc'

In [19]:
# name = "Janvi"
# print(f"my name is {name}")

In [20]:
class Collage:
    collage_name= "JECRE"
    collage_account_number = 525151514
    def account(self):
        print(f"my collage name is {self.collage_name} and my collage account number {self.collage_account_number}") 

clg =Collage()

In [21]:
clg.account()

my collage name is JECRE and my collage account number 525151514

In [34]:
class Area:
    a = 5 
    def square(self):
        result =self.a*self.a
        print(f"Area of square {result}")
        # return ("area of square", result)
        # return result
    def cube(self):
        result = 6*self.a* self.a * self.a
        print(f"Area of cube {result}")
    def circle(self):
        result =3.14*self.a * self.a
        print(f"Area of circle {result}")

areas =Area()
areas.square()
areas.cube()
areas.circle()

Area of square 25
Area of cube 750
Area of circle 78.5

Area of cube 750

Area of circle 78.5