##### VARIABLES 
Variables are containers that stores data.
### Rules of variables
1.we can define a variable like this :-
A = 5
name = "harshita"

2.we can also define a varible like this :-
_A = 20
_a = 34
__a = 65

3.we can also define a varible like this,
name_and_last = harshita_and_jain and name@last= harshita@jain and last_name = "jain
but cannot like this,
name.last = "jain
last name = "jain'
these are wrong way

4.we cant put print(print) and then expect an output because print is a function and keyword in python for showing an output

5._age = 20
AGE = 21
these are both different variables and not the same

6.we cant create a variable name by these,
@ = 29
& = 7

7.# is used to comment out in jupiter

#### Condiional Statements
A conditional statement in Python is a way to make your program choose what to do based on whether a condition is true or false.
#### Types of conditional statements
| Type                           | Description                                                       | Python Example                                                                     |
| ------------------------------ | ----------------------------------------------------------------- | ---------------------------------------------------------------------------------- |
| **if**                         | Executes code **only if** the condition is true.                  | `python if x > 10: print("Big") `                                                  |
| **if–else**                    | Runs one block if the condition is true, otherwise another block. | `python if x > 10: print("Big") else: print("Small") `                             |
| **elif (else-if)**             | Used to check **multiple conditions** one after another.          | `python if score >= 90: print("A") elif score >= 80: print("B") else: print("C") ` |
| **Nested if**                  | An **if inside another if** for more specific checks.             | `python if logged_in: if is_admin: print("Access granted") `                       |
| **Shorthand (single-line) if** | A compact version of a simple if statement.                       | `python print("Yes") if x > 5 else print("No") `                                   |

In [2]:
#if-else statements
age = int(input("entr your age"))
if 18 > age :
    print("uski age badi he")
else :
    print("uski age choti he")

uski age badi he

In [3]:
age = int(input("enter your age"))
if age >= 18 :
     print("eligible for vote")
else :
     print("not eligible for vote")

eligible for vote

In [4]:
num = int(input("enter the number"))
if num % 2 == 0 :
    print("the number is even")
else : 
    print("the number is odd")

the number is even

In [7]:
num = 0
if num >= 0 :
    if num == 0 :
        print("zero")
    else :
        print("positive number")
else :
    print("negative number")

zero

In [8]:
#if-elif-else statement
age = int(input("enter your age"))
if age > 18:
       print("eligible for vote")
elif age == 18:
       print("eligible for vote")
else :
       print("not eligible for vote")

eligible for vote

In [9]:
age = int(input("enter your age"))
if 18 > age :
    print(10-4)
    print("uski age choti he")

elif 18==age :
    print ("uski age 18 he")

else:
     print('uski age badi he')

6
uski age choti he

#### looping in python 
Looping in Python means repeating a block of code again and again until a certain condition is met or until you finish going through items in a sequence (like a list).

#### types of loops in python
| Loop Type             | What It Does                                                               | Easy Example                                                |
| ---------------------- | --------------------------------------------------------------------------- | ----------------------------------------------------------- |
| **for loop**           | Repeats code for **each item** in a list, range, string, etc.               | `python for i in range(5): print(i) `                       |
| **while loop**         | Repeats code **as long as** a condition remains true.                       | `python while x < 5: print(x); x += 1 `                     |
| **nested loop**        | A loop **inside another loop**, used for repeated patterns.                 | `python for i in range(3): for j in range(2): print(i, j) ` |
| **loop with break**    | Stops the loop **early** when a condition is met.                           | `python for n in nums: if n < 0: break `                    |
| **loop with continue** | Skips the current step and goes to the **next loop cycle**.                 | `python for n in nums: if n == 0: continue `                |
| **loop with else**     | The `else` block runs **after the loop finishes normally** (without break). | `python for i in range(3): print(i) else: print("Done") `   |

#### For Loop in Python
* A for loop in Python is used to repeat a block of code for each item in a sequence (like a list, range, string, or tuple).

In [10]:
lst = [1,4,5,8,"hello"]
for x in lst:
    print(x)

1
4
5
8
hello

In [11]:
for name in "Janvi":
    print(name)

J
a
n
v
i

In [13]:
name = "janvi"
for letters in name:
    print(letters)

j
a
n
v
i

In [14]:
student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}   
for items in student:
    print(items)

name
roll no.
course

In [ ]:
#by default it only access the keys but to access value and pairs we have to use keys(), values() and items() like this

student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}   
for items in student.values():
    print(items)

Janvi
 18
btech

In [17]:
student = {"name" : "Janvi",
           "roll no." :" 18",
        "course":"btech"}   
for items in student.items():
    print(items)

('name', 'Janvi')
('roll no.', ' 18')
('course', 'btech')

In [22]:
#if we print name instead of x lets see what will we get, 
name = "janvi"
for x in name:
    print(name)
    print("i study in jecrc university")
    #it will print both things 5 times repeatitively becqsue there are 5 letters in the name janvi

janvi
i study in jecrc university
janvi
i study in jecrc university
janvi
i study in jecrc university
janvi
i study in jecrc university
janvi
i study in jecrc university

#### While Loop 
* A while loop in Python is used to repeat a block of code as long as a condition remains true.

In [23]:
count = 1

while (count <= 5):
    print(count)
    count += 1

1
2
3
4
5

#### Functions in Python
* A function is a block of code which only runs when it is called.

* A function can return data as a result.

* A function heps avoiding code repetitions.

In [24]:
#creating a function
def function_name():
   ## block of code 
   pass
# def is a keyword in python
# and function_name is functions name

In [ ]:
def letsadd():
    a = 10
    b = 20
    result = a+b
    print("The total result :-",result)

In [26]:
#we have return the code above now lets call the funtion to get the output
letsadd()

The total result :- 30

In [29]:
 # we have to print twos table
def twostables():
    x = 2
    while x<=20:
        print(x)
        x+=2

In [30]:
twostables()

2
4
6
8
10
12
14
16
18
20

In [32]:
def square(a):
     return a*a
square(a = 4)

16

In [33]:
square(6)

36

In [34]:
def even_or_odd(n):
  if n % 2 == 0 :
      return "even"
  else:
      return "odd"
print(even_or_odd(36))
print(even_or_odd(27))

even
odd

In [35]:
def largest(a,b):
    if a > b:
        return a
    else:
        return b
print(largest(29,7))

29

#### Lambda function
* lambda function is an anonymous function in python 
* A lambda function in Python is a small, one-line function that does not need a name.
* It is used when you want a quick, short function for a simple task.

In [36]:
square = lambda a : a*a
square (a = 4)

16

In [ ]:
even = lambda x : x % 2 == 0
print(even(54))

True

In [38]:
even = lambda x : x % 2 == 0
print(even(47))

False

#### Class in python
* A class in Python is a blueprint or template used to create objects.
* It groups data (variables) and functions (methods) together so you can model real-world things in code.

In [41]:
#creating a class
class student : 
    pass
#class is keyword and student is class name

In [48]:
st_obj = student()

In [64]:
class Student:
    student_name = "Janvi Nandwana" # class variable
    student_class = "3rd year"# class variable
    student_branch = "computer science" # class variable
    student_rollnumber = 18 # class variable

st_obj = Student()

In [65]:
st_obj.student_name

'Janvi Nandwana'

In [66]:
st_obj.student_class

'3rd year'

#### Inheritance in python
* Inheritance in Python allows one class to take (inherit) the properties and methods of another class.
* It helps you reuse code, reduce repetition, and create a relationship between classes.
#### Types of inheritance
| Type of Inheritance          | Description                                                                                                | Simple Example                                                                |
| ---------------------------- | ---------------------------------------------------------------------------------------------------------- | ----------------------------------------------------------------------------- |
| **Single Inheritance**       | One child class inherits from **one** parent class.                                                        | `python class A: pass class B(A): pass `                                      |
| **Multiple Inheritance**     | A child class inherits from **more than one** parent class.                                                | `python class A: pass class B: pass class C(A, B): pass `                     |
| **Multilevel Inheritance**   | A class inherits from a parent, and another class inherits from that child. (Grandparent → Parent → Child) | `python class A: pass class B(A): pass class C(B): pass `                     |
| **Hierarchical Inheritance** | Multiple child classes inherit from the **same** parent class.                                             | `python class A: pass class B(A): pass class C(A): pass `                     |
| **Hybrid Inheritance**       | A combination of two or more inheritance types.                                                            | `python class A: pass class B(A): pass class C(A): pass class D(B, C): pass ` |

In [67]:
#single inheritance
class Collage:
    pass
#here its one class

class Student(Collage):
    pass
#and its another

In [68]:
class Collage:
    account_number = 846685
    collage_name = "jecrc"
class Student(Collage):
    pass

st=Student()

In [69]:
st.collage_name

'jecrc'

In [70]:
st.account_number

846685

In [ ]:
class Collage:
    account_number = 52846
    collage_name = "jecrc"
    def account(self):
       print(f"my account number is {self.account_number}")
class Student(Collage):
    student_name = "janvi"

st = Student()

In [74]:
st.account()

my acccount number is 52846

In [75]:
st.collage_name

'jecrc'

In [76]:
#multilevel inheritance
class Grandfather:
    account_number = 3284895
class Father(Grandfather):
    phone_number = 84688789 
class Child(Father):
    pin_number = 35784655

chi = Child()

In [77]:
chi.account_number

3284895

In [78]:
chi.phone_number

84688789

In [79]:
chi.pin_number

35784655

In [ ]:
#multiple inheritance
class Grandfather:
    grandfather_name = "govind"
class Uncle(Grandfather):
    uncle_name = "Ramesh"    
class Tau(Grandfather):
    Tau_name = "satyanarayan" 
tau_obj =Tau()
tau_obj.grandfather_name

'govind'

In [81]:
uncle_obj = Uncle()
uncle_obj.uncle_name

'Ramesh'

In [82]:
#heirarchial inheritance
class Grandfather:
    grandfather_name = "govind"
class Uncle:
    uncle_name = "Ramesh"    
class Tau(Grandfather,Uncle):
    pass 
tau_obj=Tau()

In [83]:
tau_obj.uncle_name

'Ramesh'